<%- include('partials/header') -%>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://res.cloudinary.com/dllmha3wx/image/upload/v1663975642/two-old-fashioned_bmvefe.jpg" class="d-block mx-lg-auto img-fluid" alt="cocktails and more" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white">The bartender's best resource while behind the bar</h1>
        <p class="lead text-secondary">Join other service industry professionals sharing recipes for creating the perfect drinks. Get inspiration by browsing recipes from around the world. Save your favorite drinks and have a list of private recipes for only your staff or share them publicly with the world.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Signup</a> 
          <a href="/login" class="btn btn-outline-light btn-lg px-4">Login</a>
        </div>
      </div>
    </div>
  </div>



<%- include('partials/footer') -%>