<%- include('partials/header') -%>



<main class="container">
    <p class="text-white">An email has been sent to reset your password. Please check your email and follow the instructions to reset your password. Thanks.</p>
    <p class="text-white">To return to the homepage, click the button below.</p>
    <button class="btn-outline-info" >Home</button>
</main>

<%- include('partials/footer') -%>